.container {
    margin: 0 auto;
    width: 1300px;
    height: auto;
    background: grey;
    padding: 10px
}
.container > * {
    margin: 0 0 5px 0;
}
.header {
    height: 50px;
    background: plum;
    border: 1px solid white
}
.content {
    height: auto;
    display: flex;
    flex-direction: row; 
}
.left {
    width: 59%;
    margin: 0 0.5% 0 0;
}
.header-left {
    height: 200px;
    width: 100%;
    background: lightgreen;
    margin: 0 0 5px 0;
    border: 1px solid white
}
.content-left {
    width: 100%;
    display: flex;
    flex-direction: row
}
.content-left-1 {
    width: 49.5%;
    margin: 0 0.5% 0 0;
}
.content-left-1-row {
    background: red;
    height: 100px;
    margin: 0 0 5px 0;
    border: 1px solid white
}
.content-left-1-row ~ .content-left-1-row {
    background: orange;
    margin: 0
}
.content-left-2 {
    height: auto;
    width: 49.5%;
    margin: 0 0 0 0.5%;
    background: purple;
    border: 1px solid white
}
.right {
    width: 40.5%;
}
.right-row1 {
    display: flex;
    flex-direction: row;
    margin: 0 0 5px 0;
}
.right-row1-col1 {
    height: 50px;
    background: purple;
    width: 89%;
    margin: 0 1% 0 0;
    border: 1px solid white
}
.right-row1-col2 {
    height: auto;
    background: green;
    width: 10%;
    border: 1px solid white
}
.right-row2 {
    background: yellow;
    margin: 0 0 5px 0;
    height: 100px;
    border: 1px solid white
}
.right-row3 {
    display: flex;
    flex-direction: row;
    height: 205px;
    margin: 0 0 5px 0;
}
.right-row3-col {
    height: 100%;
    width: 33%;
    background-color: cornflowerblue;
    border: 1px solid white
}
.right-row3-col ~ .right-row3-col {
    margin: 0 0 0 0.5%
}
.right-row4 {
    height: 40px;
    background: peru;
    border: 1px solid white
}
.footer {
    background: black;
    height: 50px;
    border: 1px solid white
}
