body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
    background: rgb(128, 128, 128, 0.4);
    padding: 10px
}
.container > * ~ * {
    margin: 10px 0 0 0
}
.title * {
    margin: 0
}
.title {
    text-align: center;
    background: white;
    padding: 40px
}
.link {
    background: black;
    display: flex;
    flex-direction: row;
}
.link > a {
    display: block;
    margin: 10px;
    color: white;
    text-decoration: none;
    float: right
}
.content {
    display: flex;
    flex-direction: row
}
.content p {
    text-align: justify
}
.col1 {
    width: 69%;
    margin: 0 1% 0 0
}
.col1-row {
    background: white;
    padding: 1%;
}
.col1-row ~ .col1-row {
    margin: 10px 0 0 0
}
.box {
    padding: 1%;
    background: rgb(128, 128, 128, 0.4);
    height: 150px
}
.col2 {
    width: 30%;
}
.col2 > * ~ * {
    margin: 10px 0 0 0
}
.col2-row1, .col2-row2, .col2-row3 {
    padding: 2%;
    background: white;
}
.col2-row1 > .box {
    height: 75px !important;
    padding: 2% !important
}
.col2-row2 > .box {
    height: auto !important;
    padding: 30px 2% 30px 2% !important
}
.footer {
    background: rgb(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center
}
