* {
  color: white;
  text-align: center;
  text-transform: capitalize;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.webpage {
  max-width: 996px;
  margin: 0 auto;
}

.header {
  background-color: #007bff;
  padding: 40px;
}

.menu {
  padding: 20px 0;
  background-color: lightblue;
}

.banner {
  padding: 50px 0;
  background-color: #17a2b8;
  margin: 5px 0;
}

.content {
  width: 50%;
  margin: 5px auto;
}

.content__header {
  padding: 40px 0;
  background-color: brown;
}

.content__main {
  display: flex;
}

.content__left {
  background-color: #dc3545;
  padding: 50px 0;
  flex-basis: 70%;
}

.content__right {
  background-color: #007bff;
  padding: 50px 0;
  flex-basis: 30%;
}

.footer {
  padding: 10px 0;
  background-color: #333;
}
