body {
    margin: 0
}
.webpage {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.header {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    justify-content: space-between;
}
/*menu-header*/
#menu-icon { /*more properties in media.css*/
    font-size: 0;
}
#open, #close {
    display: none
}
#logo-menu {
    display: none
}
.header > .flex-items {
    width: calc(100% - 125px);
    justify-content: space-between;
}
.flex-items svg {
    margin: 0 30px 0 0;
    height: 60px
}
.header .flex-items svg {
    height: 40px;
    width: 35px;
    margin: 0 15px 0 0;
}
.button-link {
    background: #2979FF;
    color: white;
    height: 21px;
    border-radius: 4px;
    padding: 8px 24px;
    box-shadow: 0 1px 4px 0 grey;
    color: white!important;
    width: max-content
}
/*end menu-header*/
.content {
    padding: 0 0 100px 0
}
.banner {
    padding: 125px 0 0 0;
    background: #1976D2;
    color: white;
    overflow: hidden;
}
.banner p {
    font-size: 22px;
    width: 60%;
    margin-bottom: 48px
}
.banner h1 {
    font-size: 45px;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}
.flex {
    display: flex
}
.flex-column {
    flex-direction: column;
    justify-content: space-between;
}
.menu-sticky {
    position: sticky;
    top: 0;
    background: #1976D2;    
    width: 100%
}
.menu-content {
    display: flex;
    max-width: 1150px;
    margin: 0 auto
}
.op {
    background: #E8F2FB;
    text-align: center;
    color: black;
    width: 20%;
    padding: 24px 0;
    border: 1px solid rgba(0,0,0,0.3);
    transition: 0.15s;
    border-top: 3px solid;
    border-top-color: #E8F2FB;
}
.op + * {
    border-left: 0
}
.op h3 {
    font-weight: 400;
    margin: 5px 0 0 0
}
.op span {
    font-weight: 500;
}
.op:hover {
    background: #D3E5F7
}
.active {
    background: white;
    border-top: 3px solid #4fc3f7;
    border-bottom: none;
}
.active:hover {
    background: white
}
.active h3 {
    font-weight: 500;
}
.active span {
    color: #0361cc
}
.content-tab {
    display: none;
}
.title-box {
    padding: 48px;
}
.title-box > h1 ~ p {
    font-size: 24px;
    width: 60%
}
#free h1 ~ p {
    width: 60%;
    margin: 0 auto
}
.title-box p + p {
    background: rgba(79, 195, 247, 0.3);
    border-left: 3px solid #137fb1;
    font-size: 18px;
    padding: 8px 16px;
    color: rgb(0, 0, 0, 0.8);
    width: calc(60% - 33px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box p a {
    display: inline-block;
    color: #00579B;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #00579B;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.15s
}
.title-box p a:hover {
    background: #00579B;
    color: white
}
#free .col-w-40 p {
    width: 70%;
    transition: 0.15s
}
.thin-border {
    border: 1px solid #eee;
}
#free .col-w-40:hover {
    box-shadow: 0 0 7px 1px rgba(83, 155, 255, 0.5);
    border: 1px solid rgba(83, 155, 255, 0.5);
}
#free .col-w-40 ul li {
    display: flex;
    align-items: center;
    margin: 16px 0
}
#free .col-w-40 ul li img {
    margin: 0 10px 0 0
}
.block {
    display: block!important
}
.font-sm {
    font-size: 14px!important;
}
.font-md {
    font-size: 16px!important;
    font-weight: 500;
}
.font-lr {
    font-size: 20px!important;
}
hr {
    border: 1px solid #eee;
    border-top: 0
}
.footer {
    background: #FAFAFA;
    padding: 48px 0;
    border-top: 1px solid #eee;
}
.footer ul {
    display: block;
}
.footer li {
    padding: 8px 12px 8px 8px;
    position: relative
}
.footer svg + ul > li:before, .col-w-50 ul li:before {
    content: "";
    position: absolute;
    left: -1px;
    top: 17px;
    width: 4px;
    height: 4px;
    background: #546E7A;
    border-radius: 50%
}
.col-w-50 ul li {
    margin-left: 12px!important
}
.footer p i {
    font-size: 32px;
    display: inline-block;
    margin: 0 19px 0 5px;
    width: 30px;
    color: grey
}
.store-icon {
    height: 60px;
    margin: -5px 0 0 -5px
}
.footer img + img {
    margin: -10px 0 0 -5px
}
.bolder {
    font-weight: 500;
}
.pad-md {
    padding: 16px!important 
}
.footer .col-w-20 img {
    width: 100%
}
