.valign-bot {
    vertical-align: bottom;
}
td {
    border: 1px solid #eee;
    padding: 12px 24px!important
}
table p {
    margin: 0;
}
.table-content {
    font-weight: 500;
    color: black!important
}
td svg {
    height: 25px;
    width: 25px;
    fill: #2979FF
}
td i {
    color: #2979FF;
    font-size: 25px;
}
.x-icon {
    height: 20px;
    width: 20px;
    fill: #ddd
}
table + table tr > td ~ td {
    text-align: center
}
table + table tr > td {
    color: #596A7D
}
