ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
ul a, .button-link {
    display: block;
    padding: 12px 24px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}
ul a:hover {
    color: #08589D
}
.menu1 {
    position: relative;
}
.menu2 {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 150%;
    transition: 0.5s;
    opacity: 0.5
}
.menu2 > ul {
    background: white;
    border-radius: 4px
}
.menu2 > .triangle {
    margin-left: 80%
}
.triangle {
    height: 0;
    width: 0;
    border: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent
}
.menu1 > a > i {
    transition: 0.5s
}
.menu1:hover i {
    transform: rotate(180deg)
}
.menu1:hover .menu2 {
    top: 100%;
    right: 0;
    color: #596A7D;
    width: max-content;
    height: max-content;
    opacity: 1;
}
